@import 'variables/variables';
@import 'typographie';
@import 'normalize';
@import 'layout';
@import 'navigation';
@import 'header';
@import 'components/components';

.logo {
  width: 100%;
  height: auto;
  max-width: 20rem;
}
