.plants-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border: 1px black solid;
  border-collapse: collapse;
  margin-right: 20px;
}

td {
  min-width: 1.2rem;
  height: 1.4rem;
  padding: 0.2rem;
}

.diy-checkbox {
  min-width: 1.2rem;
  height: 1.4rem;
  padding: 0.2rem;
}

tr.even {
  background-color: $background-table-dark;
}

tr.odd {
  background-color: $background-table-light;
}

.backgroundindoor {
  background-color: var(--backgroundindoor);
  border: 1px solid black;
}

.backgroundoutdoor {
  background-color: var(--backgroundoutdoor);
  border: 1px solid black;
}

.backgroundharvest {
  background-color: var(--backgroundharvest);
  border: 1px solid black;
}

td.plant-name {
  min-width: 15rem;
  font-weight: bold;
}

caption {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.2rem;
}

.smaller {
  font-size: 0.7rem;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.no-results {
  font-size: 3rem;
  background-color: coral;
  border: 2px dashed darkslategray;
}
