.filter-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.kind-perennial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.perennial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
