table,
td,
th {
  border: 1px black solid;
}

.backgroundindoor {
  background-color: red;
}

.backgroundoutdoor {
  background-color: lightgreen;
}

.backgroundharvest {
  background-color: white;
}
